GITHUB_TOKEN='example-token'
GITHUB_REPO_OWNER='example-owner'
GITHUB_REPO='example-repo'
GITHUB_DEV_TRACKED_BRANCH='staging'
GITHUB_DEFAULT_TRACKED_BRANCH='production'
GITHUB_FETCHED_COMMITS_PER_PAGE=100

MONGODB_HOST=
MONGODB_PORT=
MONGODB_DATABASE_NAME=
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_URI=
CA_CERT=

PORT=

DEPLOYMENT=DEV

HEALTH_CHECK_LOAD_INTERVAL=